@model IEnumerable<LIS.v10.Areas.Rpi.Models.DeviceDetailsLists>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Devices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Light)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Water)
        </th>
        <th>
            Data Logs
        </th>
        <th>
            Settings
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Humidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Light)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Water)
        </td>
        <td >
            @Html.ActionLink("View Logs", "LogDetails", "RpiDatalogs",new { id = item.Id },null) 
        </td>
        <td>
            @Html.ActionLink("Add New", "Index", "RpiControls", new { id = item.Id }, null)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to Main", "Index", "Home", new { area = "" }, null)
</p>